<include file="Public/header" title="pgyidc" />
<script src="__PUBLIC__/DatePicker/WdatePicker.js" type="text/javascript"></script>
<style>
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{font-size: 14px;border-top: 2px solid #28b779;font-size: 14px;background: #eee;}
.nav-tabs>li>a{font-size:14px;}
body{background: #eee !important;}
.myalert-wrap{width: 100%;min-height:100%;position: relative;}
.myalert-main{width: 100%;overflow: hidden;}
/*基本信息*/
/*基本信息*/
.form-line{height: 40px;line-height: 40px;margin: 10px 0;}
.form-label{display:inline-block;width: 150px;text-align: right;font-weight: bold;}
.w50{width: 50%;text-align: left;}
.form-content{width: 700px;text-align: left;display: inline-block;}
.form-control{display: initial;}
.tab-content{padding: 10px;}
/*layui*/
.layui-tab{margin: 0;}
.layui-tab-title{background: #fff;}
.layui-tab-title .layui-this{color: #28b779;background: #eee;}
.layui-tab-title .layui-this:after{border-bottom-color:transparent;border-top-color: #28b779;}
.bdred{border-color: red !important;}
</style>
<script>
$(function(){
    $('.upload').click(function(){
        $('.file').click();
    })
    $(".file").bind('change', function () {
        var filedata=new FormData(document.getElementById("fileform"));
        console.log(filedata);
        $.ajax({
　　　　　　　　url : '/Custom/uploadimg', 
　　　　　　　　type : "post",
　　　　　　　　data : filedata, //第二个Form表单的内容
　　　　　　　　processData : false,
　　　　　　　　contentType : false,
　　　　　　　　error : function(request) {
　　　　　　　　},
　　　　　　　　success : function(data) {
　　　　　　　　　　$("input[name='idcopy']").val(data);
                  $('.idimg').attr("src",data);
　　　　　　　  }
　　　　　});
    });
})
</script>
<!-- 弹窗(新增角色)-->
<div class="myalert-content">
<div class="myalert-wrap">
<div class="myalert-main">
<div class="layui-tab">
    <ul class="layui-tab-title">
        <li class="layui-this">基本信息</li>
        <li>需求信息</li>
    </ul>
    <div class="layui-tab-content">
        <!-- 基本信息 -->
        <div class="layui-tab-item layui-show">
            <form class="mform">
                <input type="hidden" name="id" value="{$clientinfo.id}">
                <div class="form-line w50 fl">
                    <span class="form-label"><span class="need" style="color: red;">*</span> 客户名称：</span>
                    <div class="form-content" style="width: 250px;">
                        <input class="form-control" type="text" name="name" value="{$clientinfo.name}">
                    </div>
                </div>
                <div class="form-line w50 fl">
                    <span class="form-label">客户地址：</span>
                    <div class="form-content" style="width: 250px;">
                        <input class="form-control" type="text" name="addr" value="{$clientinfo.addr}">
                    </div>
                </div>
                <div class="form-line w50 fl">
                    <span class="form-label"><span class="need" style="color: red;">*</span> 联系人：</span>
                    <div class="form-content" style="width: 250px;">
                        <input class="form-control" type="text" name="contact" value="{$clientinfo.contact}">
                    </div>
                </div>
                <div class="form-line w50 fl">
                    <span class="form-label"><span class="need" style="color: red;">*</span> 身份证号码：</span>
                    <div class="form-content" style="width: 250px;">
                        <input class="form-control" type="text" name="idnumber" value="{$clientinfo.idnumber}">
                    </div>
                </div>
                <div class="form-line w50 fl">
                    <span class="form-label"><span class="need" style="color: red;">*</span> QQ号码：</span>
                    <div class="form-content" style="width: 250px;">
                        <input class="form-control" type="text" name="qq" value="{$clientinfo.qq}">
                    </div>
                </div>
                <div class="form-line w50 fl">
                    <span class="form-label">电话号码：</span>
                    <div class="form-content" style="width: 250px;">
                        <input class="form-control" type="text" name="tel" value="{$clientinfo.tel}">
                    </div>
                </div>
                <div class="form-line w50 fl">
                    <span class="form-label"><span class="need" style="color: red;">*</span> 手机号码：</span>
                    <div class="form-content" style="width: 250px;">
                        <input class="form-control" type="text" name="cellphone" value="{$clientinfo.cellphone}">
                    </div>
                </div>
                <div class="form-line w50 fl">
                    <span class="form-label">邮箱：</span>
                    <div class="form-content" style="width: 250px;">
                        <input class="form-control" type="text" name="mail" value="{$clientinfo.mail}">
                    </div>
                </div>
                <div class="form-line w50 fl">
                    <span class="form-label">部门：</span>
                    <div class="form-content" style="width: 250px;">
                        <input class="form-control" type="text" name="dept" value="{$clientinfo.dept}">
                    </div>
                </div>
                <div class="form-line w50 fl">
                    <span class="form-label">职称：</span>
                    <div class="form-content" style="width: 250px;">
                        <input class="form-control" type="text" name="position" value="{$clientinfo.position}">
                    </div>
                </div>
                <div class="form-line w50 fl">
                    <span class="form-label">邮政编码：</span>
                    <div class="form-content" style="width: 250px;">
                        <input class="form-control" type="text" name="postcode" value="{$clientinfo.postcode}">
                    </div>
                </div>
                <div class="form-line w50 fl">
                    <span class="form-label">公司传真：</span>
                    <div class="form-content" style="width: 250px;">
                        <input class="form-control" type="text" name="fax" value="{$clientinfo.fax}">
                    </div>
                </div>
                <div class="form-line w50 fl">
                    <span class="form-label">公司网址：</span>
                    <div class="form-content" style="width: 250px;">
                        <input class="form-control" type="text" name="www" value="{$clientinfo.www}">
                    </div>
                </div>
                <div class="form-line w50 fl">
                    <span class="form-label"><span class="need" style="color: red;">*</span> 销售人员：</span>
                    <div class="form-content" style="width: 250px;">
                        <select class="form-control" name="salesman">
                            <option value="">--请选择--</option>
                            <volist name="sales" id="vo">
                                <option <if condition="$clientinfo.salesman eq $vo['realname']">selected</if>>{$vo.realname}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="form-line fl">
                    <span class="form-label">身份证复印件：</span>
                    <div class="form-content" style="width:618px;">
                        <input type="text" name="idcopy" class="form-control" readonly value="{$clientinfo.idcopy}">
                    </div>
                    <a class="btn btn-primary upload" style="position: relative;bottom: 1px;">上传</a>
                </div>
                <img class="idimg" style="margin-left:150px;width: 250px;" src="{$clientinfo.idcopy}">
            </form>
            <form class="fileform" id="fileform">
                <input type="file" name="file" class="file" id="fileField" size="28" style="display: none;">
            </form>
        </div>
        <!-- 需求信息 -->
        <div class="layui-tab-item">
            <form class="mform2">
            <div class="form-line w50 fl">
                <span class="form-label">先用IP：</span>
                <div class="form-content" style="width: 250px;">
                    <input class="form-control" type="text" name="currip" value="{$clientinfo.currip}">
                </div>
            </div>
            <div class="form-line w50 fl">
                <span class="form-label">服务器用途：</span>
                <div class="form-content" style="width: 250px;">
                    <input class="form-control" type="text" name="usage" value="{$clientinfo.usage}">
                </div>
            </div>
            <div class="form-line w50 fl">
                <span class="form-label">客户来源：</span>
                <div class="form-content" style="width: 250px;">
                    <select class="form-control" name="source">
                        <option <if condition="$clientinfo.source eq '客户来电'">selected</if>>客户来电</option>
                        <option <if condition="$clientinfo.source eq '网上咨询'">selected</if>>网上咨询</option>
                        <option <if condition="$clientinfo.source eq '客户介绍'">selected</if>>客户介绍</option>
                        <option <if condition="$clientinfo.source eq '主动联系'">selected</if>>主动联系</option>
                    </select>
                </div>
            </div>
            <div class="form-line w50 fl">
                <span class="form-label"><span class="need" style="color: red;">*</span> 客户等级：</span>
                <div class="form-content" style="width: 250px;">
                    <select class="form-control" name="class">
                        <option>--请选择--</option>
                        <option <if condition="($clientinfo.class eq '个人用户') OR ($clientinfo.class eq '普通用户') OR ($clientinfo.class eq '')">selected</if>>个人用户</option>
                        <option <if condition="($clientinfo.class eq '企业用户') OR ($clientinfo.class eq '合作伙伴') OR ($clientinfo.class eq '运营商')">selected</if>>企业用户</option>
                        <option <if condition="$clientinfo.class eq '公司自用'">selected</if>>公司自用</option>
                    </select>
                </div>
            </div>
            <div class="form-line w50 fl">
                <span class="form-label">客户状态：</span>
                <div class="form-content" style="width: 250px;">
                    <select class="form-control" name="state">
                        <option <if condition="$clientinfo.state eq '初次接触'">selected</if>>初次接触</option>
                        <option <if condition="$clientinfo.state eq '无意向'">selected</if>>无意向</option>
                        <option <if condition="$clientinfo.state eq '近期有意向'">selected</if>>近期有意向</option>
                        <option <if condition="$clientinfo.state eq '远期有意向'">selected</if>>远期有意向</option>
                        <option <if condition="$clientinfo.state eq '准客户'">selected</if>>准客户</option>
                        <option <if condition="$clientinfo.state eq '用户'">selected</if>>用户</option>
                        <option <if condition="$clientinfo.state eq '流失客户'">selected</if>>流失客户</option>
                    </select>
                </div>
            </div>
            <div class="form-line w50 fl">
                <span class="form-label">提醒时间：</span>
                <div class="form-content" style="width: 250px;">
                    <div class="form-content" style="width: 250px;">
                        <input class="form-control" type="text" name="remind_at" value="{$clientinfo.name}" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'});">
                    </div>
                </div>
            </div>
            <div class="form-line fl" style="height: 174px;">
                <span class="form-label" style="position: relative;bottom: 80px;">客户备注：</span>
                <div class="form-content">
                    <textarea class="form-control" rows="8" name="remark">{$clientinfo.name}</textarea>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>
<include file="Public/footer" title="pgyidc" />