<include file="Public/header" title="pgyidc" />
<script src="__PUBLIC__/DatePicker/WdatePicker.js" type="text/javascript"></script>
<style>
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{font-size: 14px;border-top: 2px solid #28b779;font-size: 14px;background: #eee;}
.nav-tabs>li>a{font-size:14px;}
body{background: #eee !important;}
.myalert-wrap{width: 100%;min-height:100%;position: relative;}
.myalert-main{width: 100%;overflow: hidden;}
/*基本信息*/
.form-line{height: 40px;line-height: 40px;margin: 10px 0;}
.form-label{display:inline-block;width: 150px;text-align: right;font-weight: bold;}
.w50{width: 50%;text-align: left;}
.form-content{width: 700px;text-align: left;display: inline-block;}
.form-control{display: initial;}
.tab-content{padding: 10px;}
.claaa{color: #888;}
/*layui*/
.layui-tab{margin: 0;}
.layui-tab-title{background: #fff;}
.layui-tab-title .layui-this{color: #28b779;background: #eee;}
.layui-tab-title .layui-this:after{border-bottom-color:transparent;border-top-color: #28b779;}
/*boot*/
.panel-body{background: #eee;}
</style>
<script>
$(function(){

})
</script>
<!-- 弹窗(新增角色)-->
<div class="myalert-content">
<div class="myalert-wrap">
<div class="myalert-main">
<div class="layui-tab">
    <ul class="layui-tab-title">
        <li class="layui-this">基本信息</li>
        <li>预付款记录</li>
        <li>订单列表</li>
        <li>服务器列表</li>
    </ul>
    <div class="layui-tab-content">
        <!-- 基本信息 -->
        <div class="layui-tab-item layui-show">
            <table class="table table-bordered">
                <colgroup><col width="15%"> <col width="35%"> <col width="15%"> <col width="35%"></colgroup>
                <tbody>
                    <tr>
                        <td class="claaa">客户名称</td>
                        <td>{$userinfo.name}</td>
                        <td class="claaa">联系人</td>
                        <td>{$userinfo.contact}</td>
                    </tr>
                    <tr>
                        <td class="claaa">客户地址</td>
                        <td colspan="3">{$userinfo.addr}</td>
                    </tr>
                    <tr>
                        <td class="claaa">QQ</td>
                        <td>{$userinfo.qq}</td>
                        <td class="claaa">邮箱</td>
                        <td>{$userinfo.mail}</td>
                    </tr>
                    <tr>
                        <td class="claaa">电话号码</td>
                        <td>{$userinfo.tel}</td>
                        <td class="claaa">手机号码</td>
                        <td>{$userinfo.cellphone}</td>
                    </tr>
                    <tr>
                        <td class="claaa">预存款</td>
                        <td><span style="color: red;font-weight: bold;">{$userinfo.prepay}</span>元</td>
                        <td class="claaa">身份证号码</td>
                        <td>{$userinfo.idnumber}</td>
                    </tr>
                    <tr>
                        <td class="claaa">客户来源</td>
                        <td>{$userinfo.source}</td>
                        <td class="claaa">客户类型</td>
                        <td>{$userinfo.}</td>
                    </tr>
                    <tr>
                        <td class="claaa">客户等级</td>
                        <td>{$userinfo.class}</td>
                        <td class="claaa">客户状态</td>
                        <td>{$userinfo.state}</td>
                    </tr>
                    <tr>
                        <td class="claaa">客户备注</td>
                        <td colspan="3">{$userinfo.remark}</td>
                    </tr>
                    <tr>
                        <td class="claaa">提交人</td>
                        <td>{$userinfo.committer}</td>
                        <td class="claaa">提交时间</td>
                        <td>{$userinfo.create_at}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- 预付款记录 -->
        <div class="layui-tab-item">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">收款记录</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>金额</th>
                                <th>收款银行</th>
                                <th>入款日期</th>
                                <th>提交时间</th>
                                <th>备注</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="prepaylist" id="vo" key="k">
                            <tr>
                                <td>{$k}</td>
                                <td>{$vo.money}</td>
                                <td>{$vo.paybank}</td>
                                <td>{$vo.pay_at}</td>
                                <td>{$vo.create_at}</td>
                                <td>{$vo.remark}</td>
                            </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">使用记录</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>使用金额</th>
                                <th>财务ID</th>
                                <th>使用时间</th>
                                <th>提交人</th>
                                <th>备注</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="prepayloglist" id="vo" key="k">
                            <tr>
                                <td>{$k}</td>
                                <td>{$vo.money}</td>
                                <td>{$vo.fid}</td>
                                <td>{$vo.create_at}</td>
                                <td>{$vo.committer}</td>
                                <td>{$vo.remark}</td>
                            </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- 订单列表 -->
        <div class="layui-tab-item">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>开始日期</th>
                        <th>下次付款日期</th>
                        <th>订单状态</th>
                        <th>订单类型</th>
                        <th>订单金额</th>
                        <th>相关销售</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="orderlist" id="vo" key="k">
                    <tr>
                        <td>{$k}</td>
                        <td>{$vo.order_begin_at}</td>
                        <td>{$vo.last_pay_at}</td>
                        <td>{$vo.status}</td>
                        <td>{$vo.ordertype}</td>
                        <td>{$vo.money}</td>
                        <td>{$vo.salesman}</td>
                    </tr>
                    </volist>
                </tbody>
            </table>
        </div>
        <!-- 服务器列表 -->
        <div class="layui-tab-item">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>服务器编号</th>
                        <th>机柜编号</th>
                        <th>服务器状态</th>
                        <th>操作系统</th>
                        <th>IP地址</th>
                        <th>创建日期</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="servlist" id="vo" key="k">
                    <tr>
                        <td>{$k}</td>
                        <td>{$vo.servnum}</td>
                        <td>{$vo.shelfcode}</td>
                        <td>{$vo.servstate}</td>
                        <td>{$vo.os}</td>
                        <td><span style="display:block;width: 150px;overflow: hidden;" title="{$vo.serv_ip}">{$vo.serv_ip}</span></td>
                        <td>{$vo.inserttime}</td>
                    </tr>
                    </volist>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</div>
<include file="Public/footer" title="pgyidc" />