<include file="Public/header" title="pgyidc" />
<style>
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{font-size: 14px;border-top: 2px solid #28b779;font-size: 14px;background: #eee;}
.nav-tabs>li>a{font-size:14px;}
body{background: #eee !important;}
.myalert-wrap{width: 100%;min-height:100%;position: relative;}
.myalert-main{width: 100%;overflow: hidden;}
/*基本信息*/
.form-line{height: 40px;line-height: 40px;margin: 10px 0;}
.form-label{display: block;width: 150px;text-align: right;font-weight: bold;}
.form-content{width: 700px;text-align: left;}
.form-control{display: initial;}
.tab-content{padding: 10px;}
/*layui*/
.layui-tab{margin: 0;}
.layui-tab-title{background: #fff;}
.layui-tab-title .layui-this{color: #28b779;background: #eee;}
.layui-tab-title .layui-this:after{border-bottom-color:transparent;border-top-color: #28b779;}
/*bootstap*/
.panel-title{display: inline-block;}
.opt-wrap{position: relative;bottom: 4px;}
ul{margin-bottom: 0;}
input[type=checkbox], input[type=radio]{margin: 0;}
/*多选框*/
.checkbox-wrap li{float: left;position: relative;margin-left:-1px;z-index: 1;min-width: 46px;height: 40px;background: #fff;border: 1px solid #e7e7e7;cursor: pointer;line-height: 40px;font-size: 13px;padding: 0 20px;}
.checkbox-wrap li:hover{border:1px solid #60aff6;z-index: 4;}
.checkbox-wrap li input{position: absolute;width:0;height: 0;left: 0;opacity: 0;cursor: pointer;}
.mychecked{border: 1px solid #60aff6 !important;background: url(__PUBLIC__/assets/images/icon-selected.png) #fff no-repeat !important;background-position:bottom right !important;z-index: 5 !important;}
.sm-checkbox-wrap{background: #ddd;clear: both;overflow: hidden;padding: 5px 10px;}
.sm-checkbox-wrap .checkbox-wrap li{height: 30px !important;line-height: 30px !important;padding: 0 10px;}
.haschild{padding-right: 10px !important;}
.haschild i{position: relative;top: 16px;right: 25px;color: #ddd;font-size: 18px;}
.panel-item{margin-top: 15px;}
.layui-tab-content p{width: 100%;background-color: #D5D5D5;height: 30px;padding: 5px 0 0 5px;color:#000;}
.layui-tab-content table td{border:1px solid #D5D5D5;padding-left: 5px}
</style>
<script>
  $(function(){
      $('.look').click(function(){
          $('.file').click();
          $(".file").bind('change', function () {
            $("input[name='pic']").val("已选择，请点击上传");
          })
      })
      $(".upload").click(function () {
          var filedata=new FormData(document.getElementById("fileform"));
          console.log(filedata);
          $.ajax({
  　　　　　　　　url : '/Custom/uploadimg', 
  　　　　　　　　type : "post",
  　　　　　　　　data : filedata, //第二个Form表单的内容
  　　　　　　　　processData : false,
  　　　　　　　　contentType : false,
  　　　　　　　　error : function(request) {
  　　　　　　　　},
  　　　　　　　　success : function(data) {
  　　　　　　　　　　$("input[name='pic']").val(data);
                    $('.view-pic').show();
                    $('.view-pic').click(function(){
                      layer.alert('<img src="'+data+'" width="100%;">');
                    })
  　　　　　　　  }
  　　　　　});
      });
      $('.edit-ip').click(function(){
          var serv_ip=$("input[name='newip']").val();
          var serviparr=serv_ip.split("/");
          var tempstr="";
          serviparr.forEach(function(val,index){
              tempstr+=val+'|';
          })
          serv_ip=tempstr;
          var confirm=function(index,layero){
              //获取iframe的body元素
              var body = layer.getChildFrame('body',index);
              var ip_addrstr="";
              var formdata = body.find("input[name='ip_addr']").each(function(){
                  ip_addrstr+=$(this).val()+"/";
              });
              $("input[name='newip']").val(ip_addrstr);
              layer.closeAll(); 
          }
          myalert('修改IP','800px','540px',"{:U('Service/edit_ip')}"+"?serv_ip="+serv_ip,confirm);
      })
        
      
  })
</script>
<if condition="$tasks.action eq '更换位置'">
<script>
  $(function(){
    $.post("/Service/getroom",{'key':'1'},function(data,status){
      data=JSON.parse(data);
      console.log(data);
      var room='<option value="">--请选择--</option>';
      for(var i in data){
        room+='<option>'+data[i]+'</option>';
      }
      console.log(room);
      $("select[name='idcname']").append(room);
      renderForm();
    })
    layui.use(['layer', 'form'], function(){
      var layer = layui.layer
      ,form = layui.form;
      form.on('select(idcname)',function(data){
          var idcname=data.value;
          $.post("/Service/getshelf",{"idcname":idcname},function(data,status){
              data=JSON.parse(data);
              var shelfcon='<option value="">--请选择--</option>';
              for(var i in data){
                  shelfcon+='<option value="'+data[i]['code']+'">'+data[i]['code']+'</option>';
              }
              $("select[name='shelfcode']").append(shelfcon);
              renderForm();
          })
      })
    })
  })
  //重新渲染表单
  function renderForm(){
      layui.use('form', function(){
       var form = layui.form;//高版本建议把括号去掉，有的低版本，需要加()
       form.render();
      });
  }
</script>
</if>
<!-- 弹窗(新增角色)-->
<div class="myalert-content">
<div class="myalert-wrap">
    <div class="myalert-main">
        <div class="layui-tab">
            <div class="layui-tab-content" style="min-height: 580px;">
                <p>工单信息</p>
                <table style="width: 100%;line-height: 30px;">
                    <tr>
                        <td style="width:15%">标题</td>
                        <td style="width:85%" colspan="3">{$tasks.title}</td>
                    </tr>
                    <tr>
                        <td>问题描述</td>
                        <td colspan="3">{$tasks.problemdesc}</td>
                    </tr>
                    <tr>
                        <td style="width:15%">工单状态</td>
                        <td style="width:35%">{$tasks.state}</td>
                        <td style="width:15%">工单编号</td>
                        <td style="width:35%">{$tasks.id}</td>
                    </tr>
                    <tr>
                        <td style="width:15%">提交人</td>
                        <td style="width:35%">{$tasks.committer}</td>
                        <td style="width:15%">工单类型</td>
                        <td style="width:35%">{$tasks.type2}</td>
                    </tr>
                    <tr>
                        <td style="width:15%">受理部门</td>
                        <td style="width:35%">{$tasks.recvdept}</td>
                        <td style="width:15%">所在机房</td>
                        <td style="width:35%">{$tasks.room}</td>
                    </tr>
                    <tr>
                        <td style="width:15%">处理方法</td>
                        <td style="width:35%">{$tasks.action}</td>
                        <td style="width:15%">处理时限</td>
                        <td style="width:35%">{$tasks.timelimit}</td>
                    </tr>
                    <tr>
                        <td style="width:15%">提交时间</td>
                        <td style="width:35%">{$tasks.commit_at}</td>
                        <td style="width:15%">截止时间</td>
                        <td style="width:35%">{$tasks.expire_at}</td>
                    </tr>
                    <if condition="($tasks.action eq '上架') OR ($tasks.action eq '添加IP') OR ($tasks.action eq '更换IP') OR ($tasks.action eq '更换IP重装Win系统') OR ($tasks.action eq '更换IP重装Linux系统') OR ($tasks.action eq '新上架')">
                    <tr>
                        <td style="width:15%">新增IP地址</td>
                        <td style="width:85%" colspan="3">{$tasks.addip}</td>
                    </tr>
                    </if>
                </table>
                <p style="margin-top: 10px;">备注</p>
                <table border="0" style="width: 100%;line-height: 30px">
                    <tr style="border-bottom: 1px solid #D5D5D5">
                        <td>备注</td><td>操作</td><td>时间</td>
                    </tr>
                    <foreach name="talog" item="info">
                        <tr style="border-bottom: 1px solid #D5D5D5">
                            <td style="width:50%;padding-right: 2em">{$info.msg}</td>
                            <td style="width:20%">{$info.act}</td>
                            <td style="width:30%">【{$info.name}】{$info.tm|date="Y-m-d H:i:s",###}</td>
                        </tr>
                    </foreach>
                </table>
                <notempty name="tasks.svid">
                  <p style="margin-top: 10px;">服务器信息</p>
                  <table border="0" style="width: 100%;line-height: 30px">
                      <tr style="border-bottom: 1px solid #D5D5D5">
                          <td style="width: 100px">编号</td>
                          <td style="font: 16px solid #FF0000">{$serverinfo.servnum}</td>
                      </tr>
                      <tr style="border-bottom: 1px solid #D5D5D5">
                          <td>设备名称</td>
                          <td>{$serverinfo.servname}</td>
                      </tr>
                      <tr style="border-bottom: 1px solid #D5D5D5">
                          <td>设备类型</td>
                          <td>{$serverinfo.devicetype}</td>
                      </tr>
                      <tr style="border-bottom: 1px solid #D5D5D5">
                        <td>服务器类型</td>
                        <td>{$serverinfo.productkind}</td>
                      </tr>
                      <tr style="border-bottom: 1px solid #D5D5D5">
                          <td>设备外形</td>
                          <td>{$serverinfo.deviceshape}</td>
                      </tr>
                      <tr style="border-bottom: 1px solid #D5D5D5">
                          <td>操作系统</td>
                          <td>{$serverinfo.os}</td>
                      </tr>
                      <tr style="border-bottom: 1px solid #D5D5D5">
                          <td>MAC地址</td>
                          <td>{$serverinfo.macaddress}</td>
                      </tr>
                      <tr style="border-bottom: 1px solid #D5D5D5">
                          <td>IP地址</td>
                          <td>{$serverinfo.serv_ip}</td>
                      </tr>
                      <tr style="border-bottom: 1px solid #D5D5D5">
                          <td>密码</td>
                          <td>{$serverinfo.password}</td>
                      </tr>
                      <tr style="border-bottom: 1px solid #D5D5D5">
                          <td>配置</td>
                          <td style="font-weight: bold;">{$serverinfo.hwconfig}</td>
                      </tr>
                      <tr style="border-bottom: 1px solid #D5D5D5">
                          <td>带宽限制</td>
                          <td>{$serverinfo.bandwidth}</td>
                      </tr>
                      <tr style="border-bottom: 1px solid #D5D5D5">
                          <td>备注</td>
                          <td>{$serverinfo.remarks}</td>
                      </tr>
                      <tr style="border-bottom: 1px solid #D5D5D5">
                          <td>所在机房</td>
                          <td>{$serverinfo.idcname}</td>
                      </tr>
                      <tr style="border-bottom: 1px solid #D5D5D5">
                          <td>所在机柜</td>
                          <td>{$serverinfo.shelfcode}</td>
                      </tr>
                      <tr style="border-bottom: 1px solid #D5D5D5">
                          <td>状态</td>
                          <td>{$serverinfo.servstate}</td>
                      </tr>
                  </table>
                </notempty>
                <p style="margin-top: 10px;">
                  <switch name="type">
                      <case value="0|3|4|5|6|7|8|9">处理结果</case>
                      <case value="1">指派工单</case>
                      <case value="2">回复工单</case>
                      <case value="10">废弃原因</case>
                  </switch>
                </p>
                <div class="layui-tab-item layui-show">
                    <form class="mform layui-form" action="">
                      <input type="hidden" name="nid" value="{$nid}" />
                      <input type="hidden" name="type" value="{$type}" />
                      <input type="hidden" name="gid" value="{$tasks.id}">
                      <input type="hidden" name="state" value="{$tasks.state}">
                      <input type="hidden" name="action" value="{$tasks.action}">
                      <input type="hidden" name="ips" value="{$tasks.addip}">
                      <input type="hidden" name="servnum" value="{$serverinfo.servnum}">
                      <input type="hidden" name="serv_ip" value="{$serverinfo.serv_ip}">
                      <if condition="$type eq 1">
                      <div class="layui-form-item" style="">
                        <label class="layui-form-label" style="width: 90px;">指派员工</label>
                        <div class="layui-input-block" style="margin-left: 90px">
                          <select name="receiver" lay-verify="required">
                            <foreach name="userlst" item="user">
                            <option value="{$user.realname}">{$user.realname}</option>
                            </foreach>
                          </select>
                        </div>
                      </div>
                      </if>
                      <if condition="$type eq 2">
                      <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 90px;">处理结果</label>
                        <div class="layui-input-block" style="margin-left: 90px">
                          <select name="state" lay-verify="required">
                            <option value="已解决">已解决</option>
                            <option value="未解决">未解决</option>
                          </select>
                        </div>
                      </div>
                      <if condition="$tasks.action eq '更换位置'">
                        <div class="layui-form-item">
                          <label class="layui-form-label" style="width: 90px;">机房</label>
                          <div class="layui-input-block" style="margin-left: 90px">
                            <input type="hidden" name="preidcname" value="{$serverinfo.idcname}">
                            <select name="idcname" lay-verify="required" lay-filter="idcname">
                              
                            </select>
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label" style="width: 90px;">机柜</label>
                          <div class="layui-input-block" style="margin-left: 90px">
                            <input type="hidden" name="preshelfcode" value="{$serverinfo.shelfcode}">
                            <select name="shelfcode" lay-verify="required">
                              
                            </select>
                          </div>
                        </div>
                      </if>
                      <if condition="($tasks.action eq '带宽纠错') OR ($tasks.action eq '带宽变更')">
                      <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 90px;">原带宽</label>
                        <div class="layui-input-block" style="margin-left: 90px">
                          <input class="layui-input" type="text" name="prebandwidth" value="{$serverinfo.bandwidth}">
                        </div>
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 90px;">现带宽</label>
                        <div class="layui-input-block" style="margin-left: 90px">
                          <input class="layui-input" type="text" name="bandwidth">
                        </div>
                      </div>
                      </if>
                      <if condition="$tasks.action eq '添加IP'  OR $tasks.action eq '更换IP' OR $tasks.action eq '更换IP重装Win系统' OR $tasks.action eq '更换IP重装Linux系统' OR $tasks.action eq '新上架'">
                        <div class="layui-form-item">
                          <label class="layui-form-label" style="width: 90px;">原IPv4</label>
                          <div class="layui-input-block" style="margin-left: 90px">
                            <input class="layui-input" type="text" name="oldip" value="{$serverinfo.serv_ip}">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label" style="width: 90px;">现IPv4</label>
                          <div class="layui-input-block" style="margin-left: 90px;position: relative;">
                            <input class="layui-input" type="text" name="newip">
                            <a href="javascript:;" class="btn btn-info btn-sm fr edit-ip" style="position: absolute;top: 0;right: 0;width: 38px;height: 38px;">...</a>
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label" style="width: 90px;">原IPv6</label>
                          <div class="layui-input-block" style="margin-left: 90px">
                            <textarea name="oldipv6" class="layui-textarea">{$serverinfo.ipv6}</textarea>
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label" style="width: 90px;">现IPv6</label>
                          <div class="layui-input-block" style="margin-left: 90px;position: relative;">
                            <textarea name="newipv6" class="layui-textarea"></textarea>
                          </div>
                        </div>
                      </if>
                      <if condition="$tasks.action eq '更换硬件' OR $tasks.action eq '更换硬件重装系统' OR $tasks.action eq '租用机器增减硬件' OR $tasks.action eq '托管机器增减硬件' OR $tasks.action eq '新上架'">
                        <div class="layui-form-item">
                          <label class="layui-form-label" style="width: 90px;">原配置</label>
                          <div class="layui-input-block" style="margin-left: 90px">
                            <input class="layui-input" type="text" name="oldhwconfig" value="{$serverinfo.hwconfig}">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label" style="width: 90px;">现配置</label>
                          <div class="layui-input-block" style="margin-left: 90px">
                            <input class="layui-input" type="text" name="newhwconfig">
                          </div>
                        </div>
                      </if>
                      </if>
                      <if condition="$type eq 3">
                      <div class="layui-form-item" style="">
                        <label class="layui-form-label" style="width: 90px;">工单审核</label>
                        <div class="layui-input-block" style="margin-left: 90px">
                          <select name="state" lay-verify="required">
                            <option value="已解决">已解决</option>
                            <option value="未解决">未解决</option>
                            <option value="废弃">废弃</option>
                          </select>
                        </div>
                      </div>
                      </if>
                      <!-- <if condition="$type eq 4">
                      <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 90px;">工单审核</label>
                        <div class="layui-input-block" style="margin-left: 90px">
                          <input type="checkbox" name="orderreset" title="工单重置">
                          <input type="checkbox" name="zero" title="奖金清零">
                        </div>
                      </div>
                      </if> -->
                      <if condition="$type eq 5">
                      <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 90px;">处理结果</label>
                        <div class="layui-input-block" style="margin-left: 90px">
                          <select name="state" lay-verify="required">
                            <option value="待财务确认">带宽确认</option>
                          </select>
                        </div>
                      </div>
                      <if condition="($tasks.action eq '上架') OR ($tasks.action eq '上架转让')">
                        <div class="layui-form-item">
                          <label class="layui-form-label" style="width: 90px;">现带宽</label>
                          <div class="layui-input-block" style="margin-left: 90px">
                            <input class="layui-input" type="text" name="bandwidth">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label" style="width: 90px;">调整截图</label>
                          <div class="layui-input-block" style="margin-left: 90px">
                            <input class="layui-input" type="text" name="pic" style="display: inline-block;width: 550px;">
                            <a class="btn btn-default ml15 look">浏览</a><a class="btn btn-primary ml15 upload">上传</a>
                            <a href="javascript:;" style="display: none;" class="ml15 view-pic">查看图片</a>
                          </div>
                        </div>
                      </if>
                      </if>
                      <if condition="$type eq 6">
                      <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 90px;">处理结果</label>
                        <div class="layui-input-block" style="margin-left: 90px">
                          <select name="state" lay-verify="required">
                            <option value="待审核">财务确认</option>
                          </select>
                        </div>
                      </div>
                      </if>
                      <if condition="$type eq 7">
                        <div class="layui-form-item">
                          <label class="layui-form-label" style="width: 90px;">处理结果</label>
                          <div class="layui-input-block" style="margin-left: 90px">
                            <select name="state" lay-verify="required">
                              <option value="关闭">确认位置</option>
                            </select>
                          </div>
                        </div>
                      </if>
                      <if condition="($type eq 8) AND $tasks.action eq '下架'">
                      <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 90px;">处理结果</label>
                        <div class="layui-input-block" style="margin-left: 90px">
                          <select name="state" lay-verify="required">
                            <option value="关闭">确认下架</option>
                          </select>
                        </div>
                      </div>
                      </if>
                      <if condition="$type eq 9">
                      <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 90px;">处理结果</label>
                        <div class="layui-input-block" style="margin-left: 90px">
                          <select name="state" lay-verify="required">
                            <option value="继续处理">继续处理</option>
                            <option value="放入工单池">放入工单池</option>
                          </select>
                        </div>
                      </div>
                      </if>
                      <if condition="($type eq 0 OR ($type eq 1 AND $tasks.state eq '待确认')) AND ($tasks.action eq '上架' OR $tasks.action eq '添加IP'  OR $tasks.action eq '更换IP' OR $tasks.action eq '更换IP重装Win系统' OR $tasks.action eq '更换IP重装Linux系统' OR $tasks.action eq '新上架')">
                      <div class="layui-form-item layui-form-text">
                        <div class="row chang js-short" style="margin: -5px 0px 5px 90px;">
                        <a onclick="selip(0)" class="btn btn-sm btn-warning">普通电信IP</a>
                        <a onclick="selip(1)" class="btn btn-sm btn-warning">普通电信阻断国外IP</a>
                        <a onclick="selip(2)" class="btn btn-sm btn-warning">普通移动IP</a>
                        <a onclick="selip(3)" class="btn btn-sm btn-warning">普通联通IP</a>
                        <a onclick="selip(4)" class="btn btn-sm btn-success">高防电信(阻断国外)IP</a>
                        <a onclick="selip(5)" class="btn btn-sm btn-success">高防联通(阻断国外)IP</a>
                        <a onclick="selip(6)" class="btn btn-sm btn-info">普通BGP(无防御)IP</a>
                        <a onclick="selip(7)" class="btn btn-sm btn-info">100G BGP空闲(不封国外，京东专用)IP</a>
                        <a onclick="selip(8)" class="btn btn-sm btn-info">高防BGP(阻断国外)IP</a>
                        
                        </div>
                        <label class="layui-form-label" style="width: 90px;">IP地址</label>
                        <div class="layui-input-block" style="margin-left: 90px">
                          <textarea name="ips" placeholder="请点击上方按钮选择IP" class="layui-textarea"></textarea>
                        </div>
                      </div>
                      </if>
                      <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label" style="width: 90px;">备注</label>
                        <div class="layui-input-block" style="margin-left: 90px">
                          <textarea name="problemdesc" placeholder="请输入内容" class="layui-textarea"></textarea>
                        </div>
                      </div>
                    </form>
                    <form class="fileform" id="fileform">
                      <input type="file" name="file" class="file" id="fileField" size="28" style="display: none;">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- 弹窗 end-->
<script src="__PUBLIC__/layui/layui.js"></script>
<script>
    layui.use(['layer', 'form'], function(){
      var layer = layui.layer
      ,form = layui.form;
    });
    //重新渲染表单
    function renderForm(){
      layui.use('form', function(){
       var form = layui.form;//高版本建议把括号去掉，有的低版本，需要加()
       form.render();
      });
    }

    function selip(dt)
    {
        $.ajax({
            type: "POST",
              url: "/Workorder/selip",
              data:"datatype="+dt,
              success: function(msg){
                var a=eval('('+msg+')');
                var ips=$("[name='ips']").text();
                $("[name='ips']").text(ips+a+"/");
            }
        });
    } 
</script>
<include file="Public/footer" title="pgyidc" />