<include file="Public/header" title="pgyidc" />
<style>
.square{width: 34px;height: 34px;background: #28b779;color: #fff;text-align: center;line-height: 34px;cursor: pointer;}
a{color: #337ab7;}
a:hover{color: #23527c;}
.moreoption{color: #337ab7;cursor: pointer;}
.moreoption:hover{color: #23527c;}
.fold-drop{position: absolute;min-width: 100px;background: #fff;border: 1px solid #e7e7e7;display: none;z-index: 99;}
.fold-drop li a {display: block;padding: 0 5px;line-height: 30px;text-align: left;color: #404241;text-decoration-line: none;}
.fold-drop li a:hover{color: #fff;background: #60aff6;}
.sort{cursor: pointer;}
.sort:hover{color: #337ab7;text-decoration: underline;}
</style>
<script>
$(function(){
    $('.condition-ctrl').click(function(){
        if($(this).find('i').hasClass('fa-caret-down')){
            $(this).find('i').removeClass('fa-caret-down');
            $(this).find('i').addClass('fa-caret-up');
        }else{
            $(this).find('i').removeClass('fa-caret-up');
            $(this).find('i').addClass('fa-caret-down');
        }
        $('.condition-panel').slideToggle();
    })
    //新建
    $('.add').click(function(){
        var confirm=function(index,layero){
            //获取iframe的body元素
            var body = layer.getChildFrame('body',index);
            var formdata = body.find('.mform').serialize();
            var name=body.find("select[name='RealName']").val();
            var month=body.find("input[name='AssessMonth']").val();
            layer.load();
            $.post("assessadd","RealName="+name+"&AssessMonth="+month,function(data,status){
                if(data==0){
                    body.find('form').each(function(){
                        $.post("resultadd",$(this).serialize(),function(data,status){
                            
                        })
                    })
                    layer.msg("操作成功");
                    window.location.reload();
                }
            })
        }
        myalert('新建考核','900px','660px',"{:U('Hastaffchk/new')}",confirm);
    })
    //查看
    $('.view').click(function(){
        var id=$(this).closest('tr').children("td:first").text();
        var confirm=function(){
            layer.closeAll();
        }
        myalert('查看考核【'+id+'】','900px','660px',"{:U('Hastaffchk/view')}"+"?id="+id,confirm);
    })
    //跳转
    $('.gopage').click(function(){
        var cpage=$('.cpage').val();
        $("input[name='p']").val(cpage);
        $('.sform').submit();
    })
    //排序
    $('.sort').click(function(){
        var val=$(this).data("val");
        var scval=$("input[name='sc']").val();
        var scvalarr=scval.split(' ');
        var zd=scvalarr[0];
        var st=scvalarr[1];
        if(val==zd){
            if(st=='asc'){
                $("input[name='sc']").val(val+' desc');
            }else{
                $("input[name='sc']").val(val+' asc');
            }
        }else{
            $("input[name='sc']").val(val+' asc');
        }
        $('.sform').submit();
    })
})
</script>
<div id="content" class="wow fadeIn">
    <div id="content-header">
        <span class="header-title"><i class="fa fa-pencil-square-o"></i> 员工考核</span>
        <div class="square fr search">
            <i class="fa fa-search" style="font-size: 14px;"></i>
        </div>
        <form class="sform" action="{:U('Hastaffchk/list')}" method="GET">
        <input type="hidden" name="p">
        <input type="hidden" name="sc" value="{$sc}">
        <div class="mysearchbox fr">
            <i class="fa fa-search" style="position: absolute;top: 11px;left: 11px;"></i>
            <input id="searchbox" type="search" name="keyword" class="form-control" placeholder="请输入查询内容" value="{$key}">
            <i class="fa fa-times empty"></i>
        </div>
        <div class="square fr condition-ctrl">
            <i class="fa fa-caret-down"></i>
        </div>
        <div class="condition-panel">
            <div class="condition-panel-item">
                <span class="lb">所在部门</span>
                <select class="form-control" name="Department_ID">
                    <option value="">--请选择--</option>
                    <volist name="dptlist" id="vo" key="k">
                        <option value="{$k}">{$vo}</option>
                    </volist>
                </select>
            </div>
        </div>
        </form>
    </div>
    <div class="container-fluid">
        <div class="someopt mt15">
            <a href="javascript:;" class="fr gopage" style="height: 28px;line-height: 28px;border:1px solid #58A0D3;background-color: #d5d5d5;font-size: 12px;padding:0 5px">跳转</a>
            <div><input type="text" id="pagebox" class="form-control fr cpage" style="width: 60px;height: 28px;"></div>
            <if condition="$perm['人事管理']['员工考核']['考核']">
            <a href="javascript:;" class="btn btn-primary fl add"><i class="fa fa-plus"></i> 新建考核</a>
            </if>
            <div class="page fr mr10 pages">{$page}</div>
        </div>
        <div class="lsit-wrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th>ID</th>
                    <th>姓名</th>
                    <th class="sort" data-val="name">考核月份</th>
                    <th>所属部门</th>
                    <th>状态</th>
                    <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="list" id="vo">
                    <tr>
                    <td>{$vo.id}</td>
                    <td><a href="javascript:;" class="view">{$vo.realname}</a></td>
                    <td>{$vo.assessmonth}</td>
                    <td>{$vo.dept}</td>
                    <td>
                        <switch name="vo.isconfirm">
                            <case value="1"><span class="label label-success">已确认</span></case>
                            <case value=""><span class="label label-danger">未确认</span></case>
                        </switch>
                    </td>
                    <td style="width: 100px;">
                        <if condition="$perm['人事管理']['员工考核']['查看']">
                        <button class="btn btn-info btn-sm view"><i class="fa fa-eye"></i></button>
                        </if> 
                    </td>
                    </tr>
                    </volist>
                </tbody>
            </table>
        </div>
    </div>
</div>
<include file="Public/footer" title="pgyidc" />