<include file="Public/header" title="pgyidc" />
<style>
a{color: #337ab7;}
a:hover{color: #23527c;}
</style>
<script>
$(function(){
    $('.add').click(function(){
        var confirm=function(index,layero){
            //获取iframe的body元素
            var body = layer.getChildFrame('body',index);
            var formdata = body.find('.mform').serialize();
            layer.load();
            $.post('/Process/new',formdata,function(data,status){
                if(data==0){
                    layer.msg('添加成功',{icon:1});
                    window.location.reload();
                }else{
                    layer.msg('添加失败',{icon:2});
                    window.location.reload();
                }
            })
        }
        myalert('添加处理方式','900px','660px',"{:U('Process/new')}",confirm);
    })
    $('.edit').click(function(){
        var name=$(this).closest('tr').find('.name').text();
        var id=$(this).closest('tr').children('td:first').text();
        var confirm=function(index,layero){
            //获取iframe的body元素
            var body = layer.getChildFrame('body',index);
            var formdata = body.find('.mform').serialize();
            layer.load();
            $.post('/Process/edit',formdata+"&id="+id,function(data,status){
                if(data==0){
                    layer.msg('修改成功',{icon:1});
                    window.location.reload();
                }else{
                    layer.msg('修改失败',{icon:2});
                    window.location.reload();
                }
            })
        }
        myalert('修改处理方式','900px','660px',"{:U('Process/edit')}"+"?id="+id,confirm);
    })
    $('.remove').click(function(){
        var name=$(this).closest('tr').find('.name').text();
        var id=$(this).closest('tr').children('td:first').text();
        layer.confirm('确定删除【'+name+'】?', {
                btn: ['确定','取消']
            }, function(){
            layer.load();
            $.post('/Process/remove',{"id":id},function(data,status){
                if(data==0){
                    layer.msg('删除成功',{icon:1});
                    window.location.reload();
                }else{
                    layer.msg('删除失败',{icon:2});
                    window.location.reload();
                }
            })
        })
    })
    $('.gopage').click(function(){
        var cpage=$('.cpage').val();
        window.location.href="{:U('Process/list')}"+"?p="+cpage;
    })
})
</script>
<div id="content" class="wow fadeIn">
    <div id="content-header">
        <span class="header-title"><i class="fa fa-hand-paper-o"></i> 处理方式</span>
        <div class="mysearchbox fr">
            <i class="fa fa-search" style="position: absolute;top: 11px;left: 11px;"></i>
            <form class="sform" action="{:U('Process/list')}" method="POST">
                <input id="searchbox" type="search" name="keyword" class="form-control" placeholder="请输入查询内容">
            </form>
            <i class="fa fa-times empty"></i>
        </div>
    </div>
    <div class="container-fluid">
        <div class="someopt mt15">
            <a href="javascript:;" class="fr gopage" style="height: 28px;line-height: 28px;border:1px solid #58A0D3;background-color: #d5d5d5;font-size: 12px;padding:0 5px">跳转</a>
            <div><input type="text" id="pagebox" class="form-control fr cpage" style="width: 60px;height: 28px;"></div>
            <if condition="$perm['系统管理']['处理方式']['新增']">
            <button class="btn btn-primary fl add mr10"><i class="fa fa-plus"></i> 新增</button>
            </if>
            <div class="page fr mr10 pages">{$page}</div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                <th>ID</th><th>工单类型</th><th>处理方式</th><th>流程类型</th><th>时间限制(分钟)</th><th>分值</th><th>默认奖金</th><th>优秀时限</th><th>优秀奖金</th><th>奖金系数</th><th>默认处理部门</th><th>操作</th>
                </tr>
            </thead>
            <tbody>
                <volist name="list" id="vo" key="k">
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.type}</td>
                        <td class="name">{$vo.name}</td>
                        <td>{$vo.flow}</td>
                        <td>{$vo.timelimit}</td>
                        <td>{$vo.point}</td>
                        <td>{$vo.bonus}</td>
                        <td>{$vo.goodlimit}</td>
                        <td>{$vo.goodbonus}</td>
                        <td>{$vo.coeff}</td>
                        <td>{$vo.dept}</td>
                        <td style="width: 200px;">
                            <if condition="$perm['系统管理']['处理方式']['查看']">
                            <button class="btn btn-sm btn-info view"><i class="fa fa-eye"></i></button>
                            </if>
                            <if condition="$perm['系统管理']['处理方式']['修改']">
                            <button class="btn btn-sm btn-warning edit"><i class="fa fa-edit"></i></button>
                            </if>
                            <if condition="$perm['系统管理']['处理方式']['删除']">
                            <button class="btn btn-sm btn-danger remove"><i class="fa fa-trash"></i></button>
                            </if>
                        </td>
                    </tr>
                </volist>
            </tbody>
        </table>
    </div>
</div>
<include file="Public/footer" title="pgyidc" />