<include file="Public/header" title="pgyidc" />
<style>
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{font-size: 14px;border-top: 2px solid #28b779;font-size: 14px;background: #eee;}
.nav-tabs>li>a{font-size:14px;}
body{background: #eee !important;}
.myalert-wrap{width: 100%;min-height:100%;position: relative;}
.myalert-main{width: 100%;}
/*基本信息*/
.form-line{height: 40px;line-height: 40px;margin: 10px 0;}
.form-label{display:inline-block;width: 150px;text-align: right;font-weight: bold;}
.w50{width: 50%;text-align: left;}
.form-content{width: 700px;text-align: left;display: inline-block;}
.form-control{display: initial;}
.tab-content{padding: 10px;}
/*layui*/
.layui-tab{margin: 0;}
.layui-tab-title{background: #fff;}
.layui-tab-title .layui-this{color: #28b779;background: #eee;}
.layui-tab-title .layui-this:after{border-bottom-color:transparent;border-top-color: #28b779;}
/*bootstap*/
.panel-title{display: inline-block;}
.opt-wrap{position: relative;bottom: 4px;}
ul{margin-bottom: 0;}
input[type=checkbox], input[type=radio]{margin: 0;}
</style>
<!-- 弹窗-->
<div class="myalert-content">
<div class="myalert-wrap">
<div class="myalert-main">
    <form class="mform">
        <div class="form-line w50 fl">
            <span class="form-label">产品名称：</span>
            <div class="form-content" style="width: 250px;">
                <input class="form-control" type="text" name="name" value="{$list.name}">
            </div>
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">产品类别：</span>
            <div class="form-content" style="width: 250px;">
                <input class="form-control" type="text" name="category" value="{$list.category}">
            </div>
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">产品单位：</span>
            <div class="form-content" style="width: 250px;">
                <input class="form-control" type="text" name="unit" value="{$list.unit}">
            </div>
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">价格：</span>
            <div class="form-content" style="width: 250px;">
                <input class="form-control" type="text" name="price" value="{$list.price}">
            </div>
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">价格单位：</span>
            <div class="form-content" style="width: 250px;">
                <input class="form-control" type="text" name="price_unit" value="{$list.price_unit}">
            </div>
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">带宽限制：</span>
            <div class="form-content" style="width: 250px;">
                <input class="form-control" type="text" name="band_limit" value="{$list.band_limit}">
            </div>
        </div>
        <div class="form-line fl" style="height: 54px;line-height: 54px;">
            <span class="form-label" style="position: relative;bottom: 35px;">描述：</span>
            <div class="form-content">
                <textarea class="form-control" name="desc" rows="4">{$list.desc}</textarea>
            </div>
        </div>
    </form>  
</div>
</div>
</div>
<!-- 弹窗 end-->
<include file="Public/footer" title="pgyidc" />