<include file="Public/header" title="pgyidc" />
<style>
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{font-size: 14px;border-top: 2px solid #28b779;font-size: 14px;background: #eee;}
.nav-tabs>li>a{font-size:14px;}
body{background: #eee !important;}
.myalert-wrap{width: 100%;min-height:100%;position: relative;}
.myalert-main{width: 100%;}
/*基本信息*/
.form-line{height: 40px;line-height: 40px;margin: 10px 0;}
.form-label{display:inline-block;width: 150px;text-align: right;font-weight: bold;}
.w50{width: 50%;text-align: left;}
.form-content{width: 700px;text-align: left;display: inline-block;}
.form-control{display: initial;}
.tab-content{padding: 10px;}
/*layui*/
.layui-tab{margin: 0;}
.layui-tab-title{background: #fff;}
.layui-tab-title .layui-this{color: #28b779;background: #eee;}
.layui-tab-title .layui-this:after{border-bottom-color:transparent;border-top-color: #28b779;}
/*bootstap*/
.panel-title{display: inline-block;}
.opt-wrap{position: relative;bottom: 4px;}
ul{margin-bottom: 0;}
input[type=checkbox], input[type=radio]{margin: 0;}
</style>
<!-- 弹窗-->
<div class="myalert-content">
<div class="myalert-wrap">
<div class="myalert-main">
    <form class="mform">
        <div class="form-line w50 fl">
            <span class="form-label">使用公司：</span>
            <div class="form-content" style="width: 250px;">
                <input class="form-control" type="text" name="company" value="{$list.company}">
            </div>
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">所属运营商：</span>
            <div class="form-content" style="width: 250px;">
                <select class="form-control" name="isp">
                    <option <if condition="$list.isp eq '蒲公英'">selected</if>>蒲公英</option>
                    <option <if condition="$list.isp eq '宿迁电信'">selected</if>>宿迁电信</option>
                    <option <if condition="$list.isp eq '广元'">selected</if>>广元</option>
                    <option <if condition="$list.isp eq '美国'">selected</if>>美国</option>
                    <option <if condition="$list.isp eq '苹果数据'">selected</if>>苹果数据</option>
                </select>
            </div>
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">所在机房：</span>
            <div class="form-content" style="width: 250px;">
                <select class="form-control" name="room">
                    <option value="">--请选择--</option>
                    <volist name="roomlist" id="vo">
                        <option <if condition="$vo eq $list['room']">selected</if>>{$vo}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">IP段地址：</span>
            <div class="form-content" style="width: 250px;">
                <input type="hidden" name="ipseg">
                <input class="form-control" type="text" name="seg1" value="{$list.seg1}" style="width: 56px;display: inline-block;">.
                <input class="form-control" type="text" name="seg2" value="{$list.seg2}" style="width: 56px;display: inline-block;">.
                <input class="form-control" type="text" name="seg3" value="{$list.seg3}" style="width: 56px;display: inline-block;">.
                <input class="form-control" type="text" name="seg4" value="{$list.seg4}" style="width: 56px;display: inline-block;">
            </div>
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">子网掩码：</span>
            <div class="form-content" style="width: 250px;">
                <input class="form-control" type="text" name="netmask" value="{$list.netmask}">
            </div>
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">所属VLAN：</span>
            <div class="form-content" style="width: 250px;">
                <input class="form-control" type="text" name="vlan" value="{$list.vlan}">
            </div>
        </div>
        <div class="form-line w50 fl">
            <span class="form-label">所属路由器：</span>
            <div class="form-content" style="width: 250px;">
                <input class="form-control" type="text" name="router" value="{$list.router}">
            </div>
        </div>
    </form>  
</div>
</div>
</div>
<!-- 弹窗 end-->
<include file="Public/footer" title="pgyidc" />